<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217100079341-n8e1dmihlvq1k561k6q7umnnnsvvqql6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217100079341-n8e1dmihlvq1k561k6q7umnnnsvvqql6</string>
	<key>API_KEY</key>
	<string>AIzaSyBWJ_IvfhXdJsUBvHHIhXtMP3e70-YchW8</string>
	<key>GCM_SENDER_ID</key>
	<string>217100079341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>bladder-diary-d8d19</string>
	<key>STORAGE_BUCKET</key>
	<string>bladder-diary-d8d19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217100079341:ios:7f7f82c7252b0d35467ce4</string>
</dict>
</plist>